#mainNav {
	background-color: #fefefe;
}

#brandImg {
	padding-top:12px;
}

#trendingPanel {
	margin-top: 20px;
	margin-bottom: 50px;
	padding-bottom: 20px;
	padding-left:  10px;
	padding-right: 10px;
	border-radius: 0.33em;
	background-color: #fefefe;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(224,224,224,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(224,224,224,1);
	box-shadow: 0px 0px 5px 0px rgba(224,224,224,1);
}

.trendingTitle {
	letter-spacing: 5px;
	font-size: 16px;
}

.trendingContent {
	border: 1px solid #e0e0e0;
}
